body {
    background-color: ;
    font-family: ;
    font-size: ;
}

 h1 {
  color: 
  font-family: "Amethysta", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  color: 
  font-family: "Amethysta", serif;
  font-weight: 400;
  font-style: normal;
}

h3  {
color: 
font-family: "Amethysta", serif;
font-weight: 400;
font-style: normal;
}

h4 {
color: 
  font-family: "Amethysta", serif;
  font-weight: 400;
  font-style: normal;
}

h5 {
color: 
  font-family: "Amethysta", serif;
  font-weight: 400;
  font-style: normal;
}

P {
  color: 
  font-family: "Alef", sans-serif;
  font-weight: 400;
  font-style: normal;
}





